<% content_for :sidebar do %>
  <li class="nav-divider"></li>
  <li><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Dashboard Home</a></li>
<% end %>

<% content_for :content do %>
  <h1><span class="glyphicon glyphicon-dashboard"></span> Welcome to the DASHBOARD!</h1>
<% end %>
